/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
/testhotel.iml
.gradle/2.14.1/
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
PushSDK/build/generated/assets/
PushSDK/build/generated/res/
PushSDK/build/generated/source/aidl/
PushSDK/build/generated/source/rs/
PushSDK/build/intermediates/assets/
PushSDK/build/intermediates/bundles/debug/aidl/
PushSDK/build/intermediates/bundles/debug/assets/
PushSDK/build/intermediates/bundles/release/aidl/
PushSDK/build/intermediates/bundles/release/assets/
PushSDK/build/intermediates/dependency-cache/
PushSDK/build/intermediates/lint/
PushSDK/build/intermediates/manifest/tmp/
PushSDK/build/intermediates/rs/
PushSDK/build/intermediates/shaders/
PushSDK/build/tmp/
build/generated/mockable-android-25.jar
/gradle/wrapper/gradle-wrapper.properties
/testHotel.iml
/build.gradle
